*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    box-sizing: border-box;
 
}
nav a {
    padding: 0px 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#top-nav-bar {
    border: 1px solid red;
    padding: 15px;
}
    #top-nav-bar-left{
        text-align: left;
        background-color:pink;
        display:inline;
    }
    #top-nav-bar-right{
        float: right;
        background-color:yellow;
        display:inline;
    }
    
#australia{
    border: 1px solid purple;
    padding: 15px 20px;
    margin-bottom: 0px; 
    position: relative;
    width: 100%; }

#bottom-nav-bar{
    border: 1px solid purple;
    padding: 15px 0px;
    margin-bottom: 0px;
    position: relative;
    width: 100%; 
}

#bottom-nav-bar-left{
    background-color:pink;
    display:inline;
    }

    #bottom-nav-bar-right{
        float: right;
        background-color:yellow;
        display:inline; 
    }

#empty {
    background-color:rgba(0, 255, 255, 0.26);
    height: 100px; }

#search-bar-area {
    background-color: pink;
    height: 100px; 
    text-align: center; } 
    
#search-button-area{
    background-color: rgba(164, 209, 164, 0.753);
    height: 100px;
    text-align: center; }    

#google-logo-area{
    text-align: center;
    padding: 10px;
    margin: 100px auto;
}    

