*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

nav div a {
    padding: 10px 10px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#top-nav-bar {
    padding: 5px 10px;
    margin-top: 0px;
    width: 100%; 
    display:flex;
    justify-content: space-between;
}
    #top-nav-bar-left{
        text-align: left;
        display:flex;
        align-items: center;
        width:50%; }
    #top-nav-bar-right{
        float: right; 
        display:flex;
        align-items:center;}
    
#australia{
    padding: 10px 20px;
    margin-bottom: 0px; 
    position: relative;
    width: 100%;
    color:rgb(129, 129, 129);
    background-color: #f8f9fa; }

#bottom-nav-bar{
    border-top: 1px solid darkgray;
    padding: 5px 10px;
    width: 100%; 
    display:flex;
    justify-content: space-between;
    color: #3c4043;
    background-color: #f8f9fa; }

    #bottom-nav-bar-left{
        text-align: left;
        display:flex;
        align-items: center;
        width: auto;
    }
    #bottom-nav-bar-right{
        float: right;
        display:flex;
        align-items:center;
    }

    #google-logo-area{
        text-align: center;
        padding: 10px;
        margin: 150px auto 0 auto;
        
    }   

#search-bar-input {
    height: 100%; 
    width: 90%;
    margin-left: 30px;   
    border: none; } 
    
#search-button-area{
    height: auto;
    width: 100%;
    text-align:center;
    margin-top:20px;
}    

#search-bar-div{
  border: 1px solid grey;
  border-radius: 20px;
  width: 60%;
  height: 3em;
  display: flex;
  align-items: center;
}

#search-bar-form{
    margin-top: 10px;
    padding-top: 10px;  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#search-bar:hover{
    box-shadow: 5px 5px 10px rgba(199, 194, 194, 0.514);
}

.button{
    padding: 10px;
    margin: 5px;
    color: #3c4043;
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #f8f9fa ;
}

.button:hover{
    outline: 1px solid #8e9194;
    box-shadow: 5px 51px 100px rgba(199, 194, 194, 0.514),rgba(199, 194, 194, 0.514);
    border-radius: 4px;
}

#empty {
    height: 60%;}

.blue-button{
    color:white;
    background-color: rgb(8, 107, 221);
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
}

.blue-button:hover{
    background-color: rgb(5, 119, 250);
    text-decoration:none;
}