* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav div a {
    padding: 10px 10px;
    text-decoration: none;
    color:rgba(0,0,0,.54);
}

#top-nav-bar-left a {
    color:#222;
}

.blacktext {
    color:#222;
    font-size: 13px; 
}

a:hover {
    text-decoration: underline;
}

/*TOP NAV BAR */
#top-nav-bar {
    padding: 5px 10px;
    margin-top: 0px;
    width: 100%; 
    display:flex;
    justify-content: space-between;
    color:rgba(0,0,0,.54);
}    
    .top-nav-bar {
        color: #222; }
    #top-nav-bar-left {
        text-align: left;
        display:flex;
        align-items: center;
        width:50%; }
    #top-nav-bar-right{
        float: right; 
        display:flex;
        align-items:center; }
    
/*BOTTOM NAV BAR */
#bottom {
    display: flex;
    flex-direction: column;
    flex-shrink:0;
}
    #australia {
        padding: 15px 30px; /* Checked */
        position: absolute;
        bottom: 48px; 
        width: 100%;
        color:rgba(0,0,0,.54); /* Checked */
        background-color: #f8f9fa; /* Checked */
        border-bottom: 1px solid #dadce0; /* Checked */
        font-size:15px; 
    }
    #bottom-nav-bar {
        padding: 5px 10px;
        width: 100%; 
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        color: #70757a; 
        background-color: #f8f9fa; /* Checked */
        position:absolute;
        bottom:0; 
    }
    #bottom-nav-bar-left {
        text-align: left;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        width: auto; 
    }
    #bottom-nav-bar-right {
        float: right;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:center; 
    }

#google-logo-area {
    text-align: center;
    padding: 10px;
    margin: 200px auto 0 auto;
}   

#search-bar-input {
    height: 100%; 
    color: rgba(0,0,0,0.87);
    word-wrap:break-word;
    width: 90%;
    outline:none;
    margin-left: 5px;   
    border: none;  
    background-color: transparent;
    font-size:16px;
}  
    
#search-button-area {
    height: auto;
    text-align:center;
    margin-top:20px;
}    

#search-bar-div {
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    width: 560px;
    height: 3em;
    display: flex;
    align-items: center;
}

#search-bar-form {
    margin-top: 10px;
    padding-top: 10px;  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#search-bar-div:hover {
    box-shadow:0 1px 6px rgba(32,33,36,.28);
}

.button {
    padding: 0 16px; 
    color: #3c4043; 
    height: 36px; 
    min-width: 54px; 
    line-height: 27px; 
    margin: 11px 4px; 
    text-align: center; 
    background-color: #f8f9fa; 
    border-radius: 4px; 
    border: 1px solid #f8f9fa ; 
    cursor: pointer; 
    white-space: nowrap;
}

.button:hover {
    border: 1px solid #dadce0; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.1); 
    background-color: #f8f9fa;
    color: #202124;
    border-radius: 4px;
    cursor: pointer;    
}

#topempty {
    height: 60%;
    display:flex;
    flex-direction: column;
}

#bottomempty {
    height: 40%;
    display:flex;
    flex-direction: column;
    flex-grow:1;
    flex-shrink:0;
}

.blue-button {
    color:white;
    background-color: #1a73e8; 
    border: 1px solid transparent; 
    border-radius: 4px;
    padding: 9px 15px; 
    min-width: 80px; 
    margin-left: 8px;
    margin-right:10px;
    letter-spacing: 0.25px;
    vertical-align: middle; 
    line-height: 16px;
    white-space: nowrap;
}

.blue-button:hover { 
    background-color:#2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    text-decoration:none;
}

.searchIcon { /*attempting to make magnifying glass icon grey */
    color:grey;
    padding-left: 10px;
    display:flex;
    align-items: center;
    width: 30px;
    height: auto;
}

.grey-bg { /*grey background for google app icon */
    opacity:1;
    height: 40px;
    width:40px;
    vertical-align: middle;
    padding:8px;
    display:inline-block;
}

.grey-bg:hover{ /*grey background for google app icon */
    background-color:rgba(60,64,67,0.08);
    border-radius: 50%;
}

@media only screen and (max-width: 750px) {
    #bottom-nav-bar {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
}
